/* -------------css变量----------------- */
:root {
  --nav-bar-height: 48px;
  --side-width: 68px;
  --cache-bar-height: 46px;
  --theme-color: #5386ed;
  --el-font-weight-primary: 300 !important;
  --color-default: #303133;
}

@font-face {
  font-family: 'iconfont'; /* Project id 2826909 */
  src: url('//at.alicdn.com/t/font_2826909_mln4k95g9ve.woff2?t=1648627451648') format('woff2'),
    url('//at.alicdn.com/t/font_2826909_mln4k95g9ve.woff?t=1648627451648') format('woff'),
    url('//at.alicdn.com/t/font_2826909_mln4k95g9ve.ttf?t=1648627451648') format('truetype'),
    url('//at.alicdn.com/t/font_2826909_mln4k95g9ve.svg?t=1648627451648#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

//css 打点
.dot {
  &::before {
    content: '...';
    position: absolute;
    animation: dot2 3s infinite step-start both;
  }

  &:after {
    content: '...';
    color: transparent;
  }
}

@keyframes dot2 {
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
}


//提示色
$positive: #3399ff;
$danger: #fe575c;
$warning: #ffe002;
$balanced: #8ad350;
$calm: #00aaaf;

//主色调
$theme: #5386ed;

//滚动条样式
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

//刷新按钮
.refresh-btn {
  color: $theme;
  margin-left: 16px;
  cursor: pointer;
}

.g-text-active {
  color: $theme !important;
}

.g-text-red {
  color: #d03050;
}

.g-text-green {
  color: #18a058;
}

.g-text-line-through {
  text-decoration: line-through;
}

// 抽屉 弹窗 表格 头部 title 加粗
$color-title-1: #333333;
// 表格内容
$color-title-1: #606266;
// 表单 label
$color-title-1: #74767e;
// input 输入
$color-title-1: #0000;

.user-type-icon {
  width: 16px !important;
  height: 16px !important;
  background-color: #86a2d9;
  color: white;
  font-size: 13px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box;
}
.blue-title {
  color: $theme;
  font-size: 15px;
  &:before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 16px;
    background-color: $theme;
    margin-right: 10px;
    position: relative;
    top: 1px;
  }
}

.dom-jump-animate{
  transform: translateZ(0px);
  opacity: 1;
}
